<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/f0c7078c5c.css">
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script src="js/main.js"></script>
  <title>Zhe Yan'Corner</title>
</head>
<body>
  <div class="wrap">
    <!-- header sction -->
    <header class="header">
      <a href="" class="button">
        <i class="fa fa-arrow-left" onclick="history.go(-1);return true;"> back</i>
      </a>
      <h1>Zhe Yan's Corner</h1>
      <a href="" class="button" id="setting">
        <i class="fa fa-cog"></i>
      </a>
    </header>
    <div class="show" id="menu">
      <a href="/index.html">Home</a>
      <a href="#">About</a>
      <a href="/work.html">Works</a>
      <a href="#">Blogs</a>
    </div>
    <script type="text/javascript">
      $(function(){
        $('.button').eq(1).click(function(){
          $('.show').eq(0).toggle();
        })
      });
    </script>
    <!-- web-header for more than 800px -->
    <section class="web-header">
      <h1>Zhe Yan's Corner</h1>
      <a href="index.html">
        <i class="fa fa-home"><span>Home</span></i>
      </a>
      <a href="#">
        <i class="fa fa-book"><span>Blogs</span></i>
      </a>
      <a href="work.html">
        <i class="fa fa-diamond"><span>Works</span></i>
      </a>
      <a href="#">
        <i class="fa fa-user"><span>About</span></i>
      </a>
    </section>
    <!-- content sction -->
    <div class="content">

<%= contents %>

</div>
<!-- footer section -->
<div class="footer">
  <a href="index.html">
    <i class="fa fa-home"></i>
  </a>
  <a href="#">
    <i class="fa fa-book"></i>
  </a>
  <a href="work.html">
    <i class="fa fa-diamond"></i>
  </a>
  <a href="about.html">
    <i class="fa fa-user"></i>
  </a>
</div>
</div>
</body>
</html>
