$primary-color-dark:   #0097A7;
$primary-color:        #00BCD4;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


*{
  padding:0px;
  margin:0px;
  // make header same height even though plus padding or border
  box-sizing: border-box;
}
body{
  font-smoothing:antialiased;
  color:$secondary-text-color;

  .wrap{
    // need height to use flex box
    height: 100vh;
    display:flex;
    flex-direction: column;
  }

  .header{
    padding: 10px;
    background-color: $primary-color;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    // make all flex items in the middle
    align-items: center;
    // align for flex items
    justify-content: space-between;
    border-bottom:  2px solid #fff59d;
    a{
      color:$primary-color-text;
      font-size:17px;
      // background: rgba(0,0,0,0.1);
      padding: 10px 15px;
      border-radius: 4px;
    }
    h1{
      font-size: 30px;
    }
  }
  .header >*{
    text-align: center;
    line-height: 80px;
    color:$primary-color-text;
  }
  .footer{
    background-color: $primary-color;
    height: 80px;
    flex-shrink: 0;
    display:flex;
    a{
      border-left: 2px solid rgba(0,0,0,0.1);
      flex-grow:1;
      text-align: center;
      line-height: 80px;
      text-decoration: none;

      &:first-child{
        border:0;
      }

      i{
        display:block;
        color:white;
        padding-bottom:8px;
        font-size:25px;
        text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
        padding-bottom: 10px;
        line-height: 80px;
      }
    }
  }
  .content{
    background-color: #fafafa;
    line-height: 1.8;
    padding: 16px;
    flex-grow: 1;
    overflow-y: scroll;
  }
}
